node {
  diameter: 50px;
  color: #A5ABB6;
  border-color: #9AA1AC;
  border-width: 2px;
  text-color-internal: #FFFFFF;
  font-size: 10px;
}

relationship {
  color: #A5ABB6;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '<type>';
}

node.Dormitory {
  color: #68BDF6;
  border-color: #5CA8DB;
  text-color-internal: #FFFFFF;
  caption: '{label}';
}

node.Product {
  color: #6DCE9E;
  border-color: #60B58B;
  text-color-internal: #FFFFFF;
  caption: '{categoryID}';
}

node.Category {
  color: #FF756E;
  border-color: #E06760;
  text-color-internal: #FFFFFF;
  caption: '{categoryID}';
}

node.Supplier {
  color: #DE9BF9;
  border-color: #BF85D6;
  text-color-internal: #FFFFFF;
  caption: '{supplierID}';
}

node.Customer {
  color: #FB95AF;
  border-color: #E0849B;
  text-color-internal: #FFFFFF;
  caption: '{city}';
}

node.Order {
  color: #FFD86E;
  border-color: #EDBA39;
  text-color-internal: #604A0E;
  caption: '{customerID}';
}

node.data_students_and_housing {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{Dormitory}';
}

node.Dormitory1 {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{label}';
}

node.Student {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{city}';
}

node.Course {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{department}';
}

node.data_courses {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{id}';
}

node.Instructor {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{name}';
}

node.pm_absolute_count_entry {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{url_params}';
}

node.pm_absolute_count_entry_docs {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{url_params}';
}

node.pm_dxref_2015 {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{CCS CATEGORY}';
}

node.pm_diagnosis {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '<id>';
}

node.pm_diagnosis_category {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{category_id}';
}

node.pm_pubmed_doc {
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{pubmed_id}';
}

node.diagnosis_category {
  diameter:80px;
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '{category_description}';
}

node.pubmed_docs {
  diameter:10px;
  color: #A5ABB6;
  border-color: #9AA1AC;
  text-color-internal: #FFFFFF;
  caption: '';
}

relationship.RELATED {
  color: #A5ABB6;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  caption: '{mentions_probability}';
}
